div.docs-fixed {
    display: none;
}

body.contentpage.page {
    background-color: #ffffff;
    /*margin-top: 20px;*/
    padding-top: 0;
    position: relative;
    clear: both;
    /*padding-bottom: 5px;*/
    display: block;
    word-wrap: break-word;
    visibility: visible;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: rgba(0,0,0,.8);
    font-size: 18px;
    line-height: 1.4;
}

div.en {
    background-color: #ffffff;
    /*margin-bottom: -20px;*/
}

div.center a h1 {
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 36px;
    margin-left: -2.25px;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.8);
    margin: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}

div.section.title h3 {
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    margin-left: -2.25px;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.8);
    margin: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    border: none;
}

div.text ul {
    margin-top: 38px;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: -.003em;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    margin-bottom: 0;
    margin: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    word-wrap: break-word;
    visibility: visible;
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
}

div.text ol {
    margin-top: 38px;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: -.003em;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    margin-bottom: 0;
    margin: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    word-wrap: break-word;
    visibility: visible;
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
}

div.parbase.variable.section {
    margin-top: 38px;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: -.003em;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.58;
    margin-bottom: 0;
    margin: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    word-wrap: break-word;
    visibility: visible;
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
}

div.section.title h4 {
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    margin-left: -2.25px;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.8);
    margin: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    border: none;
}

div.variable-title {
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    margin-left: -2.25px;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.8);
    margin: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    border: none;
}

div.variable-text ul {
    margin-top: 38px;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: -.003em;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.58;
    margin-bottom: 0;
    margin: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    word-wrap: break-word;
    visibility: visible;
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
}

div.minitoc.section ul {
    margin-top: 38px;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: -.003em;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    margin-bottom: 0;
    margin: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    word-wrap: break-word;
    visibility: visible;
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
}

ul li {
    border-style: none;
}

ol li {
    border-style: none;
}

div.text div {
    margin-top: 38px;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: -.003em;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    margin-bottom: 0;
    margin: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    word-wrap: break-word;
    visibility: visible;
    -webkit-font-smoothing: antialiased;
    border-style: none;
}

div.SiteFooter.Text.TextSmall.Link {
    display: none;
}

div.clear-after {
    display: table;
    word-wrap: break-word;
    border-style: none;
    position: relative;
    margin: 0 auto;
}

div.stationary {
    position: relative;
    right: 0;
    transition: right .2s;
    width: 800px;
    margin: 0 auto;
}

div.L1, #layoutLogic {
    width: 100%;
}

div.trail.breadcrumb {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgba(0,0,0,.3);
    display: block;
    line-height: 1.2;
    margin-top: 20px;
}

div.docs-versions {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgba(0,0,0,.3);
    display: block;
    line-height: 1.2;
    border-style: none;
}

div.icon {
    display: none;
}

div.icon-container.caution {
    margin-top: 38px;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: -.003em;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.58;
    margin-bottom: 0;
    margin: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    word-wrap: break-word;
    visibility: visible;
    -webkit-font-smoothing: antialiased;
    border-style: none;
}

div.note.parbase.section {
    margin-top: 38px;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: -.003em;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.58;
    margin-bottom: 0;
    margin: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    word-wrap: break-word;
    visibility: visible;
    -webkit-font-smoothing: antialiased;
    border-style: none;
}

div.section.title h2 {
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    margin-left: -2.25px;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.8);
    margin: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    border-style: none;
}

p.boxtitle.note {
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    margin-left: -2.25px;
    line-height: 1.15;
    letter-spacing: -.02em;
    margin: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    border-style: none;
}

p.boxtitle.caution {
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    margin-left: -2.25px;
    line-height: 1.15;
    letter-spacing: -.02em;
    margin: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    border-style: none;
}

div.text p {
    margin-top: 38px;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: -.003em;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    margin-bottom: 0;
    margin: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    word-wrap: break-word;
    visibility: visible;
    -webkit-font-smoothing: antialiased;
    border-style: none;
}

div.SiteFooterBar.LayoutCell.TextInvert.LinkInvert.LinkStrong {
    display: none;
}

div.SiteHeaderBar {
    color: #ffffff;
    background-color: #ffffff;
    display: none;
    height: 0;
}

div.side-cell {
    z-index: 10;
    position: fixed;
    right: 0;
    top: 0;
    display: none;
}

